html {
    font-family: monospace;
    font-size: 16px;
}

a:hover {
    color: white;
    text-decoration: underline;
}

bg {
    background-image: url('https://th.bing.com/th/id/OIP.QWO-G6V6iko3WsZQt1BmOQHaFj?pid=ImgDet&rs=1');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.2;
}

body {
    background: #000;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    color: lightgreen;
}

h1 {
    display: inline;
}

nav {
    position: sticky;
    overflow: hidden;
    border-right: 1px solid lightgreen;
}

div {
    padding: 5px;
    margin: 5px;
}

div>p {
    line-height: 2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    border-top: 1px solid lightgreen;
    border-bottom: 1px solid lightgreen;
}

ul>li {
    float: left;
    border: 1px solid lightgreen;
    border-top: none;
    border-bottom: none;
}

ul>li:first-child {
    border-left: 1px solid lightgreen !important;
}

ul>li:nth-child(odd) {
    border-left: none;
    border-right: none;
}

#title {
    float: right;
    display: block;
    color: lightgreen;
    text-align: center;
    padding: 12px 16px;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

ul>li a {
    display: block;
    color: lightgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1>a {
    color: lightgreen;
}

ol>li a {
    color: lightgreen;
}

div>img {
    width: 375px;
    display: block;
}

#selected {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    left: 50%;
}